/* Réinitialisation des styles par défaut */

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Styles de base */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #223036;
  color: #f8f8f8;
}

a {
  text-decoration: none;
}

a button {
  margin: 1em;
}

strong {
  font-weight: bold;
}

button {
  cursor: pointer;
  border-radius: 0.7em;
  border: #223036 2px solid;
  background-color: #223036;
  color: #f8f8f8;
  font-size: 1.1rem;
  padding: 1em;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #f6c963;
  color: #223036;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.row {
  margin-bottom: 1em;
}

/* En-tête */
.site-header {
  position: relative;
  color: #f8f8f8;
  text-align: center;
}

.img-container {
  height: 200px;
}

.site-header__image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main-menu {
  display: flex;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.main-menu_item {
  color: #f8f8f8;
  margin-right: 1em;
}

.main-menu__icon {
  width: 30px;
  margin: 0 1em;
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

.main-menu_item:hover .main-menu__icon {
  width: 40px;
  opacity: 1;
}

.main-menu__text {
  width: 0;
  overflow: hidden;
  transition: width 0.1s ease-in-out;
  white-space: nowrap;
}

.main-menu_item:hover .main-menu__text {
  width: 100px;
}

/* Section principale */

.page-title,
.page-subtitle,
.section-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #f6c963;
}

.page-title {
  text-align: center;
  font-size: 4rem;
  margin-top: 0.4em;
}

.page-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.site-description {
  max-width: 650px;
  margin: 0 auto;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.main__banner {
  width: 100%;
}

.main__banner--up {
  transform: translateY(20%);
}

.main__banner--down {
  transform: translateY(-20%);
}

/* Cartes */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f8f8f8;
}

.card_header {
  position: relative;
  padding: 1em;
}

.card_img-container {
  width: 15em;
  height: 15em;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.card_img {
  width: auto;
  height: auto;
  filter: sepia(100%);
  opacity: 0.8;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_img-container:hover .card_img {
  filter: sepia(0%);
  opacity: 1;
}

.card_img::before,
.card_img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/paper-texture.jpg');
  mix-blend-mode: multiply;
}

.card__tags-container {
  display: flex;
  justify-content: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.card_link--tag,
.section-tags__link-tag {
  display: inline-block;
  background-color: #223036;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  margin: 0 0.2em;
  transition: all 0.2s ease-in-out;
}

.card_link--tag:hover {
  width: 70px;
  height: 70px;
}

.card_tag,
.tag {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #223036;
  color: #f6c963;
  opacity: 0;
  padding: 0.5em;
  border-radius: 0.2em;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.card_img-container:hover .card_title {
  opacity: 0.9;
}

.btn-container {
  background-color: #f8f8f8;
}

/* Section catégories */

.section-title {
  font-size: 3rem;
  margin-bottom: 1em;
}

.tags-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tags-container__tag {
  margin: 0.5em 1em;
}

.tag-text {
  color: #f6c963;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.section-tags__link-tag:hover + .tag-text {
  opacity: 1;
}

/* Page Question */

.page_header,
.page_body {
  width: 80%;
  margin: 0 auto;
}

.img_container {
  width: 80%;
  margin: 1em auto 0;
  position: relative;
  height: 15em;
  overflow: hidden;
  border-radius: 1em;
  margin-bottom: 1em;
}

.page_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.page_body {
  text-align: left;
}

.comments-title {
  font-size: 1.5rem;
  margin: 20px 0;
}

.comment {
  position: relative;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-icons {
  position: absolute;
  top: 1em;
  right: 1em;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.comment:hover .comment-icons {
  opacity: 1;
}

.comment-icon {
  width: 20px;
  cursor: pointer;
}

.comment-author-date {
  font-style: italic;
}

.comment-article-title a {
  color: #f6c963;
}

.comment-article-title a:hover {
  color: #f8f8f8;
}

.page_description {
  margin-bottom: 2em;
}

.btn--homepage_link {
  display: inline-block;
  background-color: #f6c963;
  color: #223036;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 1em 0;
}

.btn--homepage_link:hover {
  background-color: #f8f8f8;
}

/* Formulaire de connexion */

.error-message {
  color: #d65555;
  font-weight: bold;
  margin-bottom: 1em;
  font-style: italic;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form--comment {
  max-width: none;
  margin-bottom: 1em;
}

.form-label-group {
  position: relative;
  margin-bottom: 20px;
}

.form-label-group input,
.modal-card-body input {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  margin-bottom: 1em;
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #666;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.form-label-group input:focus,
.form-label-group input:valid,
.modal-card-body input:focus,
.modal-card-body input:valid {
  border-color: #223036;
  box-shadow: 0 0 8px rgba(49, 44, 44, 0.5);
}

.form-label-group input:focus + label,
.form-label-group input:valid + label {
  transform: translateY(-20px);
  font-size: 12px;
  opacity: 0.5;
  background-color: #fff;
  padding: 0 5px;
}

.btn--login,
.btn--signin {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #223036;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn--login:hover,
.btn--signin:hover {
  background-color: #f6c963;
}

.signup {
  color: #223036;
  margin-top: 1em;
}

.signup a {
  text-decoration: underline;
  color: #223036;
}

.signup a:hover {
  text-decoration: none;
}

/* Pied de page */
.site-footer {
  background-color: #223036;
  color: #f6c963;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
}

.site-footer a {
  color: #f8f8f8;
}

/* Modale de suppression des commentaire */

#deleteCommentModal,
#updateCommentModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#deleteCommentModal.is-active,
#updateCommentModal.is-active {
  display: flex;
  align-items: center;
  justify-content: center;
}

#deleteCommentModal.is-active .modal-background,
#updateCommentModal.is-active .modal-background {
  background-color: rgba(0, 0, 0, 0.7);
}

#deleteCommentModal.is-active .modal-card,
#updateCommentModal.is-active .modal-card {
  max-width: 400px;
  width: 100%;
  position: relative;
}

.modal-card {
  width: 400px;
  max-width: 90%;
  margin: 10% auto;
  background-color: #f8f8f8;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal-card-head {
  background-color: #223036;
  color: #f8f8f8;
  padding: 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-card-title {
  font-size: 1.25rem;
}

.delete {
  padding: 0.5em;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.cross {
  rotate: -45deg;
}

.modal-card-body {
  padding: 20px;
  color: #223036;
}

.modal-card-foot {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: right;
}

.button {
  margin-left: 10px;
}

.cancel:hover {
  background-color: #f8f8f8;
}

.button.is-warning {
  background-color: #f8f8f8;
  color: #223036;
  border: 2px solid #f6c963;
}

.button.is-warning:hover {
  background-color: #f6c963;
}

.button.is-danger {
  background-color: #f8f8f8;
  color: #ff3860;
  border: 2px solid #ff3860;
}

.button.is-danger:hover {
  background-color: #ff3860;
  color: #f8f8f8;
}

/* Rendu spécifique pour les petits écrans */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .site_banner {
    max-width: 60%;
    border-radius: 0.2em;
  }

  .main-menu_item {
    margin-right: 0;
  }

  .main-menu__text {
    width: 80px;
    font-size: 0.8rem;
  }

  .page-title {
    font-size: 2rem;
  }

  .main__banner--up {
    transform: translateY(40%);
  }

  .card_title {
    opacity: 1;
  }

  .tag-text {
    opacity: 1;
  }

  .comment-icons {
    position: relative;
    left: 100%;
    transform: translateX(-20%);
    opacity: 1;
  }

  #deleteCommentModal,
  #updateCommentModal {
    width: 100vw;
  }
}
