/* Réinitialisation des styles par défaut */

* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles de base */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #555;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* En-tête */
.site-header {
    background-color: #ff6f61;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.site-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.site_banner {
    max-width: 35%;
    border-radius: 0.2em;
}

.main-menu {
    margin-top: 10px;
}

.main-menu_item {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.main-menu_item:hover {
    color: #f9e07f;
    letter-spacing: 0.01em;
}

/* Section principale */
.page-title {
    font-size: 2rem;
    margin: 20px 0;
}

.site-description {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

/* Cartes */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 300px;
    border: 1px solid #ddd;
    margin: 1em;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card_header {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.card_img {
    width: 100%;
    height: 11em;
    border-radius: 0.5em;
}

.card_link--tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
}

.card_tag {
    border-radius: 0.4em;
    padding: 0.2em 0.5em;
    color: #333;
    margin-bottom: 1em;
    transition: background-color 0.3s ease;
}

.card_tag--anatomie {
    background-color: #D36135;
    color: #fff;
}
.card_tag--anatomie:hover {
    background-color: #B54C23;
}

.card_tag--astronomie {
    background-color: #7FB069;
    color: #fff;
}
.card_tag--astronomie:hover {
    background-color: #6A9D52;
}

.card_tag--biologie {
    background-color: #ECE4B7;
}
.card_tag--biologie:hover {
    background-color: #D5CC9C;
}

.card_tag--chimie {
    background-color: #E6AA68;
}
.card_tag--chimie:hover {
    background-color: #D69651;
}

.card_tag--cinema {
    background-color: #272525;
    color: #fff;
}
.card_tag--cinema:hover {
    background-color: #02020B;
}

.card_tag--geek {
    background-color: #778472;
    color: #fff;
}
.card_tag--geek:hover {
    background-color: #5C6C56;
}

.card_tag--geologie {
    background-color: #4C1A57;
    color: #fff;
}
.card_tag--geologie:hover {
    background-color: #371040;
}

.card_tag--histoire {
    background-color: #FF3CC7;
    color: #fff;
}
.card_tag--histoire:hover {
    background-color: #E42AAF;
}

.card_tag--physique {
    background-color: #F0F600;
}
.card_tag--physique:hover {
    background-color: #D6DA04;
}

.card_tag--physiquequantique {
    background-color: #00E5E8;
}
.card_tag--physiquequantique:hover {
    background-color: #02BABD;
    color: #fff;
}

.card_tag--psychologie {
    background-color: #007C77;
    color: #fff;
}
.card_tag--psychologie:hover {
    background-color: #01625F;
}

.card_tag--religion {
    background-color: #BF0603;
    color: #fff;
}
.card_tag--religion:hover {
    background-color: #A00502;
}

.card_tag--sociologie {
    background-color: #018E42;
    color: #fff;
}
.card_tag--sociologie:hover {
    background-color: #026A33;
}

.card_title {
    background-color: #f9e07f;
    font-size: 1.2rem;
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: center;
}

.card_body {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.card_link--question {
    display: inline-block;
    background-color: #ff6f61;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    align-self: center;
    margin: 1em 0;
}

.card_link--question:hover {
    background-color: #ff5a4d;
}

/* Page Question */
.img_container {
    position: relative;
    height: 15em;
    overflow: hidden;
}

.page_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.page_body {
    text-align: left;
}

.btn--homepage_link {
    display: inline-block;
    background-color: #ff6f61;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 1em 0;
}

/* Formulaire de connexion */

.error-message {
    color: #920606;
    font-weight: bold;
    margin-bottom: 1em;
    font-style: italic;
}

.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.form-label-group {
    position: relative;
    margin-bottom: 20px;
}

.form-label-group input {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    margin-bottom: 1em;
}

.form-label-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 16px;
    color: #666;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.form-label-group input:focus,
.form-label-group input:valid {
    border-color: #ff6f61;
    box-shadow: 0 0 8px rgba(219, 52, 52, 0.5);
}

.form-label-group input:focus + label,
.form-label-group input:valid + label {
    transform: translateY(-20px);
    font-size: 12px;
    opacity: 0.5;
    background-color: #fff;
    padding: 0 5px;
}

.btn--login,
.btn--signin {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ff6f61;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn--login:hover,
.btn--signin:hover {
    background-color: #ff5a4d;
}

/* Pied de page */
.site-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}

.site-footer a {
    color: #fff;
}

/* Rendu spécifique pour les petits écrans */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .site_banner {
        max-width:60%;
        border-radius: 0.2em;
    }

}