<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diotilogie</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="site-header">
        <h1 class="site-title">
            <img class="site_banner" src="/img/screenshot.png" alt="banniere de diotilogie">
        </h1>
        <nav class="main-menu">
            <a class="main-menu_item" href="/">Accueil</a>
            <a class="main-menu_item" href="/tags">Catégories</a>
            <%if (!userMail){%>
                <a class="main-menu_item" href="/signup">S'inscrire</a>
                <a class="main-menu_item" href="/login">Se connecter</a>
            <%}else{%>
                <a class="main-menu_item" href="/profil/<%= userID %>">Mon profil</a>
                <a class="main-menu_item" href="/logout">Déconnecter <%= username %></a>
            <%}%>
        </nav>
    </header>
    <main class="container">