<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diotilogie</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="site-header">
        <h1 class="site-title">Diotilogie</h1>
        <nav class="main-menu">
            <a class="main-menu_item" href="/">Accueil</a>
            <a class="main-menu_item" href="/">Catégories</a>
            <a class="main-menu_item" href="/">S'inscrire</a>
            <a class="main-menu_item" href="/">Se connecter</a>
            <a class="main-menu_item" href="/">Mon profil</a>
            <a class="main-menu_item" href="/">Se déconnecter</a>
        </nav>
    </header>
    <main class="container">