<%- include('./partials/header.ejs') %>

<h2 class="page-title">Bienvenue sur Diotilogie</h2>
<p class="site-description">Que ce soit pour comprendre les mystères de la science, les curiosités de la nature ou les subtilités de la vie moderne, notre plateforme propose des réponses claires et accessibles. Nourrissez votre curiosité en explorant des explications détaillées sur une variété de sujets. Plus besoin de laisser vos questions en suspend, trouvez des réponses éclairantes en un instant. Simplifiez votre recherche de connaissances avec notre site dédié au "Pourquoi" et élargissez votre compréhension du monde qui vous entoure.</p>
<div class="cards">
    <card class="card">
        <div class="card_header">
            <a href="/tags"><div class="card_tag card_tag--categorie">Catégorie</div></a>
            <h3 class="card_title">Title</h3>
        </div>
        <div class="card_body">
            <h4 class="card_description">Description</h4>
            <a class="btn card_link" href="/detail">
                En savoir plus
            </a>
        </div>
    </card>

    <card class="card">
        <div class="card_header">
            <a href="/tags"><div class="card_tag card_tag--categorie">Catégorie</div></a>
            <h3 class="card_title">Title</h3>
        </div>
        <div class="card_body">
            <h4 class="card_description">Description</h4>
            <a class="btn card_link" href="/detail">
                En savoir plus
            </a>
        </div>
    </card>

    <card class="card">
        <div class="card_header">
            <a href="/tags"><div class="card_tag card_tag--categorie">Catégorie</div></a>
            <h3 class="card_title">Title</h3>
        </div>
        <div class="card_body">
            <h4 class="card_description">Description</h4>
            <a class="btn card_link" href="/detail">
                En savoir plus
            </a>
        </div>
    </card>

    <card class="card">
        <div class="card_header">
            <a href="/tags"><div class="card_tag card_tag--categorie">Catégorie</div></a>
            <h3 class="card_title">Title</h3>
        </div>
        <div class="card_body">
            <h4 class="card_description">Description</h4>
            <a class="btn card_link" href="/detail">
                En savoir plus
            </a>
        </div>
    </card>

    <card class="card">
        <div class="card_header">
            <a href="/tags"><div class="card_tag card_tag--categorie">Catégorie</div></a>
            <h3 class="card_title">Title</h3>
        </div>
        <div class="card_body">
            <h4 class="card_description">Description</h4>
            <a class="btn card_link" href="/detail">
                En savoir plus
            </a>
        </div>
    </card>

    <card class="card">
        <div class="card_header">
            <a href="/tags"><div class="card_tag card_tag--categorie">Catégorie</div></a>
            <h3 class="card_title">Title</h3>
        </div>
        <div class="card_body">
            <h4 class="card_description">Description</h4>
            <a class="btn card_link" href="/detail">
                En savoir plus
            </a>
        </div>
    </card>

    <card class="card">
        <div class="card_header">
            <a href="/tags"><div class="card_tag card_tag--categorie">Catégorie</div></a>
            <h3 class="card_title">Title</h3>
        </div>
        <div class="card_body">
            <h4 class="card_description">Description</h4>
            <a class="btn card_link" href="/detail">
                En savoir plus
            </a>
        </div>
    </card>
</div>
        
<%- include('./partials/footer.ejs') %>

    