<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Diotilogie</title>
</head>
<body>
    <header class="site-header">
        <h1 class="site-title">Diotilogie</h1>
        <nav class="main-menu">
            <a class="main-menu_item" href="/">Accueil</a>
            <a class="main-menu_item" href="/">Catégories</a>
            <a class="main-menu_item" href="/">S'inscrire</a>
            <a class="main-menu_item" href="/">Se connecter</a>
            <!-- <a class="main-menu_item" href="/">Mon profil</a>
            <a class="main-menu_item" href="/">Se déconnecter</a> -->
        </nav>
    </header>
    <main class="container">

        <h2 class="page-title">Bienvenue sur Diotilogie</h2>
        <p class="site-description">Que ce soit pour comprendre les mystères de la science, les curiosités de la nature ou les subtilités de la vie moderne, notre plateforme propose des réponses claires et accessibles. Nourrissez votre curiosité en explorant des explications détaillées sur une variété de sujets. Plus besoin de laisser vos questions en suspend, trouvez des réponses éclairantes en un instant. Simplifiez votre recherche de connaissances avec notre site dédié au "Pourquoi" et élargissez votre compréhension du monde qui vous entoure.</p>

        <card class="card">
            <div class="card-header">
                <h3 class="card-title">Title</h3>
            </div>
            <div class="card-body">
                <h4 class="card-descrption">Descrption</h4>
                <a class="btn card-link" href="/detail">
                    En savoir plus
                </a>
            </div>
        </card>

    </main>
        <footer class="site-footer">
            <div class="row">
                <small>Nicolas Saumont © 2023</small>
            </div>
        </footer>
</body>

</html>