<%- include('partials/header.ejs')%>

        <div class="page_header">
            <h2 class="page-title">Profil de <%= username %></h2>
        </div>

        <div class="row">

            Vous êtes sur la page profil de <%= username %>

        </div>

<%- include('partials/footer.ejs')%>